body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  background: linear-gradient(to bottom, #aeefff, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/images/게임설명 배경.jpeg');
  background-size: auto;
}

.container {
  display: flex;
  gap: 40px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 900px;
  width: 100%;
  justify-content: center;
}

.box {
  width: 300px;
  height: 400px;
  background-color: #bfebe2;
  border: 4px dashed #86b8c2;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.box h2 {
  text-align: center;
  color: #055b7a;
  margin-bottom: 15px;
}

.box p {
  color: #054b5a;
  font-size: 16px;
  line-height: 1.6;
}

.fish {
  position: absolute;
  width: 40px;
}

.fish.left {
  top: -20px;
  left: -20px;
  transform: rotate(-20deg);
}

.fish.right {
  bottom: -20px;
  right: -20px;
  transform: rotate(20deg);
}

#a {
  font-size: 25px;
  font-family: 'Ownglyph_ParkDaHyun';
}

@font-face {
  font-family: 'Ownglyph_ParkDaHyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

#b {
  font-size: 30px;
  font-family: 'Cafe24Ssurround';
}

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.bubble-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bubble-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
}

.bubble {
  position: absolute;
  bottom: -100px;
  opacity: 0.7;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.6));
  animation-name: floatUp;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 2;
  }
  100% {
    transform: translateY(-110vh);
    opacity: 0;
  }
}

.home-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#home-btn {
  background-color: #76bc62;
  border: 2px solid #478244;
  border-radius: 15px;
  padding: 20px 15px;
  font-size: 18px;
  color: white;
  font-family: 'KCC-Ganpan';
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  right: 540px;
  bottom: 270px;
}

#home-btn:hover {
  background-color: #559944;
  transform: scale(1.05);
}

@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
