@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 64px;
  margin-top: 100px;
  color: #463f41;
  text-shadow: 3px 3px 0 #ffffff, 6px 6px 0 rgba(0, 0, 0, 0.1);
  font-family: 'KCC-Ganpan';
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

#main-btn,
#main-btn2 {
  font-size: 24px;
  padding: 25px 50px;
  background: linear-gradient(to bottom, #adc6e3, #edebf7);
  border: none;
  border-radius: 30px;
  box-shadow: 4px 4px 0 #7679a1, 8px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  cursor: pointer;
  color: #333;
  font-family: 'LeeSeoyun';
}

#main-btn:hover,
#main-btn2:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 0 #a9badf, 6px 10px 20px rgba(0, 0, 0, 0.15);
}

.wave-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 600%;
  height: 300px;
  overflow: hidden;
  z-index: 0;
  opacity: 1;
  animation: waveScroll 2s ease-in-out infinite;
}

.wave-container svg {
  width: 300%;
  height: 100%;
  display: block;
  animation: waveMotion 11s linear infinite;
}

@keyframes waveScroll {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-25%) translateY(70px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.white-wave {
  z-index: 1; /* 기존 파도보다 위 */
  height: 150px; /* 더 낮은 파도 */
  opacity: 0.5;
}

.white-wave svg {
  width: 300%;
  height: 100%;
  display: block;
  animation: waveMotion 1s linear infinite; /* 속도 다르게 하면 진짜 물결 느낌 */
}
